/* *{
    margin: 0;

    padding: 0;
}
body{
    background-color: rgb(0, 255, 4);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vmin;
}
.container{
    background-color: beige;
    height: 0%;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.container1{
    background-color:black;
    
}
form{
    height: 300px;
    width: 300px;
    background-color: aliceblue;
    display: flex;
    flex-wrap: wrap;
}
.form button{
    background-color: blueviolet;
    color: black;
    height: 100px;
    width: 100px;
    display: flex;
    flex-wrap: wrap;
} */
 /* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    
}

body {
    background-color: greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
   
}

.container {
    background-color: beige;
    padding: 10px;
    
}

.container1 {
    background-color: black;
    padding: 20px;
    
}

form {
    background-color: aliceblue;
    padding: 20px;
    /* border-radius: 10px; */
    display: flex;
    flex-direction: column;
    /* gap: 15px;
    align-items: stretch; */
}

form h2 {
    text-align: center;
}


form input { 
    padding: 10px;
    border: 1px solid #ddd; 
    border-radius: 5px;
} 

form button {
    background-color: orange;
    color: black;
    color: white;
    padding: 10px;
    font-size: 16px;
}

.hidden {
    display: none;
}
