* {
    margin: 0;
    padding: 0;
}

body {
    background-color: greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
   
}

.container {
    background-color: beige;
    padding: 10px;
    
}

.container1 {
    background-color: black;
    padding: 20px;
    
}

form {
    background-color: aliceblue;
    padding: 20px;
   
    display: flex;
    flex-direction: column;
    
}

form h2 {
    text-align: center;
}


form input { 
    padding: 10px;
    border: 1px solid #ddd; 
    border-radius: 5px;
} 

form button {
    background-color: orange;
    color: black;
    color: white;
    padding: 10px;
    font-size: 16px;
}

.hidden {
    display: none;
}
